<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neos E-Ticaret</title>
    <!--------------- BOOSTRAP LİNKİ ------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!------------ JAVASCRİPT LİNKİ ------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body data-bs-theme="dark">
    {% include "includes/_navbar.html" %}

    {% if messages %}

    {% for mesaj in messages %}
    <div class="alert alert-primary text-center">
        {{mesaj}}
    </div>
    {% endfor %}

    {% else %}
    {% endif %}


    {% block content %}
    <div class="container mt-5">
        <div class="row">
            {% if urunler|length > 0 %}



            {% for urun in urunler %}
            <div class="col-4 mb-5">
                <div class="card">
                    <img src="{{urun.resim.url}}" height="250" class="card-img-top" alt="{{urun.isim}}">
                    <div class="card-body">
                        <h5 class="card-title">{{urun.isim}}</h5>
                        <p>{{urun.kategori.isim}}</p>
                        <p>{{urun.seri_no}}</p>

                        {% for alt in urun.AltKategori.all %}
                        <small>{{alt.isim}}</small>
                        {% endfor %}

                        <p class="card-text">{{urun.aciklama}}</p>
                        <p class="card-text">{{urun.fiyat}}</p>
                        <a href="{% url 'detay' urun.id %}" class="btn btn-primary ">Ürünü İncele</a>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="urunId" value="{{urun.id}}">
                            <input type="number" name="adet" value="1" class="form-control">
                            <input type="submit" value="Sepete Ekle" class="btn btn-primary mt-2">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="text-center">
                Eşleşen Ürün Bulunamadı.
            </h1>
            {% endif %}
        </div>
    </div>
    {% endblock content %}


























</body>

</html>