<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Neos Ticaret</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ürünler</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'olustur' %}">Oluştur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="">{{request.user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sepetim' %}">Sepetim ({{request.user.sepet_set.all.count}})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
                </li>
                {% endif %}
            </ul>

            <form class="d-flex" action="/" method="GET" role="search">
                <input class="form-control me-2" name="search" value="{{search}}" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>